{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "allowImportExportEverywhere": true
  },
  "extends": [
    "formidable/configurations/es6-react",
    "prettier"
  ],
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "es6": true
  },
  "rules": {
    "filenames/match-regex": "off",
    "arrow-parens": ["off"],
    "consistent-return": "off",
    "complexity": "off",
    "max-statements": "off",
    "no-magic-numbers": "off",
    "no-invalid-this": "off",
    "react/jsx-handler-names": "off",
    "react/no-multi-comp": "off"
  }
}
