html,
body {
  font-family: 'montserratregular';
  background: #1d212d;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
  width: 100%;
}

table {
  border-collapse: collapse;
}
table td {
  word-wrap: break-word;
}

::-webkit-scrollbar {
  display: none;
}